* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    height: 120px;
    width: 100%;
    background-color: #2E9687;
}

main {
    height: calc(100vh - 120px);
    width: 100%;
    background-color: #DBDBD2;
}

.container {
    margin: 0.5em auto;
    width: 85%;
    height: 90%;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
}

.col-left {
    background-color: #FAFAFA;
    width: 30%;
    min-width: 210px;
    height: 100%;
}

.col-right {
    background-color: #FAFAFB;
    width: 70%;
    min-width: 285px;
    height: 100%;
}

.col-left .top-left,
.col-right .top-right {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    background-color: #EAEAEA;
}

.top-sx {
    display: flex;
    width: 80%;
}

.top-sx:hover {
    background-color: #FAFAFA;
}

.top-sx img {
    border-radius: 40px;
    padding: 0.5em;
}

.top-sx h4 {
    align-self: center;
    font-size: 0.7em;
}

.top-sx p {
    color: grey;
    font-size: 0.7em;
}

.top-dx {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #B1B1B1;
    padding: 0.5em;
}

.top-dx i {
    font-size: 1.2em;
    margin: 0 8px;
    cursor: pointer;
}

.top-dx i:hover {
    color: black;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.user-info h4 {
    align-self: flex-start;
    font-size: 0.7em;
}

.user-info a {
    color: grey;
    font-size: 0.7em;
}

.user-info a:hover {
    color: crimson;
}

.notifications {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #8EDAFC;
}

.notifications .icon {
    background-color: white;
    padding: 0.5em;
    margin: 0 0.5em 0 1em;
    border-radius: 60%;
}

.notifications .icon i {
    font-size: 1em;
    color: #8EDAFC;
}

.search-input {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
    background-color: #FAFAFA;
}

.search-input label {
    padding: 0.2em 1em;
    color: lightgrey;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}

.search-input label:hover {
    color: black;
}

.search-input input {
    width: 90%;
    padding: 0.4em 0.3em;
    background-color: white;
    border: 1px solid white;
    outline: none;
    font-size: 0.6em;
}

.search-input input:focus-within {
    border:  2px solid lightgrey;
}

.chat-box {
    width: 95%;
    height: calc(100% - 165px);
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

.box {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #FAFAFA;
    cursor: pointer;
}

.box:hover {
    background-color: #E9EBEB;
}

.box.active {
    background-color: #E9EBEB;
}
.user {
    display: flex;
    width: 65%;
}

.user img {
    border-radius: 50px;
    padding: 0.8em;
}

.box .user-info p {
    color: #B8BABC;
    font-size: 0.8em;
    overflow: hidden;
    width: 160px;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}

.date {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    color: lightgrey;
    font-size: 0.7em;
}

.date p {
    margin: 0.6em;
}


.chat-container {
    width: 100%;
    height: calc(100% - 110px);
    /* background-image: url(../img/mine.jpg); */
    background-image: url('https://images.pexels.com/photos/3075993/pexels-photo-3075993.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: scroll;
}

.message-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
}

.message {
    background-color: white;
    border-radius: 10px;
    width: 45%;
    padding: 1em;
    margin: 0.5em 0;
    display: flex;
    flex-direction: column;
    position: relative;
}

.message.green {
    background-color: #D5F9BA;
    align-self: flex-end;
}

.message p {
    font-size: 0.8em;
}

.message .date-paragraph {
    align-self: flex-end;
    font-size: 0.6em;
    margin-top: 0.5em;
    color: #B8BABC;
}

.message .fa-chevron-down {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: grey;
    font-weight: 700;
    display: none;
}

.message .dropdown-content {
    position: absolute;
    top: 90%;
    left: 70%;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}
.message .dropdown-content ul {
    list-style-type: none;
}
.message .dropdown-content ul li {
    color: grey;
    font-family: 'Roboto', sans-serif;
    display: block;
    font-size: 0.7em;
    margin: 3px 0;
    padding: 1.5em 1em;
}

.message .dropdown-content li:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.message:hover .fa-chevron-down {
    display: block;
}

.bottom-right {
    height: 50px;
    width: 100%;
    background-color: #F3EEEA;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bottom-right i {
    color: grey;
    font-size: 1.2em;
    cursor: pointer;
}

.bottom-right i:hover {
    color: black;
}

.bottom-right input {
    width: 80%;
    padding: 0.6em 1.2em;
    border: none;
}